[Unit]
Description=Refresh Buttons Bebe products every day

[Timer]
# First run 1 day after this timer is enabled, then every day after each run.
OnActiveSec=1d
OnUnitActiveSec=1d
Persistent=true

[Install]
WantedBy=timers.target
